## apt
alias remove-package='sudo apt remove --purge "$1" && sudo apt autoremove --purge'

### maintenance
alias update='sudo -- sh -c "apt update -y; apt list --upgradable"'
alias update-upgrade='sudo -- sh -c "apt update; apt upgrade -y; apt dist-upgrade -y"'

## undollar
alias '$'=''  # Copy-pasting commands with '$ ' prefix

# https://askubuntu.com/a/22043
alias sudo='sudo '
